header{
    background-image: url("./pexels-henry-&-co-2341290.jpg");
    text-align: center;
    margin-bottom:20px;
    padding: 20px;
    border: solid 2px silver;
    color:black;
    font: 30px bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.description{
    text-align: center;
    font-size:larger;
}

.footer{
    background-image: url("./pexels-henry-&-co-2341290.jpg");
    margin-top: 300px;
    border-top: solid 1px silver;
    padding:30px;
    font: 25px bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:static;
}



